[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests = "*"
pytest-cov = "*"

[packages]
aiosqlite = "*"
click = "*"
databases = "*"
h11 = "*"
httptools = "*"
pytz = "*"
six = "*"
starlette = "*"
uvicorn = "*"
uvloop = "*"
websockets = "*"
Jinja2 = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
SQLAlchemy-Utils = "*"
python-multipart = "*"

[requires]
python_version = "3.7"
